<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style media="screen">
      div.error_red{
        background-color: red;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="error_red">
      {% if request.session.errors %}
        {% for each_error in request.session.errors %}
        <p>{{ each_error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <form class="email_valid" action="/process" method="post">
      {% csrf_token %}
      <label for="email">Email Address: <input type="email" name="email" placeholder="name@example.com"></label>
      <input class="button button-primary" type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
