
<style media="screen">
  body{
    background-color:  #303030;
  }
  div.form,
  form.contact-form{
    background-color: lightgray;
  }
  div.form {
    padding: 50px 80px;
    margin: 40px;
  }
  input{
    margin-bottom: 10px;
  }
  input#submit{
    width: 80px;
    height: 40px;
  }
</style>
<body>
  <div class="form">
    <form class="contact-form" action="#" method="post">
      Name:<input type="text" name="full_name" placeholder="Full Name"><br>
      Email:<input type="text" name="email" placeholder="email"><br>
      Phone:<input type="text" name="phone_number" placeholder="Phone #"><br>
      <input id="submit" type="submit" name="submit" placeholder="Sign Up Now"><br>
    </form>
  </div>
</body>
