<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing page Assignement</title>
    <link rel="stylesheet" href="{{url_for('static', filename='ninja_styles.css')}}">
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign-Up!</a></li>
        </ul>
      </nav>
      <h1>All About Ninjas!</h1>
      <h2>What do you know about Ninjas?</h2>
      <img src="{{ url_for('static', filename='shadow_woman.jpg') }}" alt="">
      <div class="info">
        <p id = "first">Kunoichi (Japanese: くノ一?) is a modern term for a female ninja or practitioner of ninjutsu (ninpo).</p>
        <p id = "second">Female ninja are mentioned in Bansenshukai, a 17th-century Japanese book compiling the knowledge of the clans in the Iga and Kōga regions devoted to the training of ninja. According to this document, the primary function of female ninja was espionage, finding legitimate service positions in the households of enemies, to accumulate knowledge by gaining trust or overhearing conversations. One historically accepted example of this is Mochizuki Chiyome, the 16th century noblewoman with ninja roots who was tasked by the warlord Takeda Shingen with recruiting women to create a secret network of a few hundred female spies.</p>
      </div>
    </div>

  </body>
</html>
