<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja Gold</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.css">
    <style media="screen">
      body{
        padding: 100px;
      }
      div.location_list {
        padding-top: 30px;
      }
      div.location {
        width: 220px;
        height: 220px;
        display: inline-block;
        border: solid 3px black;
        margin-right: 20px;
        padding: 15px;
        text-align: center;
      }
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    </style>
  </head>
  <body>
    <h2>Gold Count</h2>
    <p>{{ session['gold_count'] }}</p>
      <div class="location_list">
        <div class="location">
          <h3>Farm</h3>
          <p>(Earns 10 - 20 gold)</p>
          <form class="game" action="/process_money" method="POST">
            <input type="hidden" name="location" value="farm">
            <input class="button-primary" type="submit" name="farm" value="Find Gold!">
          </form>
        </div>

        <div class="location">
          <h3>Cave</h3>
          <p>(Earns 5 - 10 gold)</p>
          <form class="game" action="/process_money" method="POST">
            <input type="hidden" name="location" value="cave">
            <input class="button-primary" type="submit" name="cave" value="Find Gold!">
          </form>
        </div>

        <div class="location">
          <h3>House</h3>
          <p>(Earns 2 - 5 gold)</p>
          <form class="game" action="/process_money" method="POST">
            <input type="hidden" name="location" value="house">
            <input class="button-primary" type="submit" name="house" value="Find Gold!">
          </form>
        </div>

        <div class="location">
          <h3>Casino</h3>
          <p>(Earns/Takes 0 - 50 gold)</p>
          <form class="game" action="/process_money" method="POST">
            <input type="hidden" name="location" value="casino">
            <input class="button-primary" type="submit" name="casino" value="Find Gold!">
          </form>
        </div>
      </div>
    <h2>Activities: </h2>
    <div class="activities">
      {% for items in session['activities'] %}
      <p class = {{ session['color'] }}>Earned:  {{ items.current_gold}} golds from the {{ items.location }} {{ items.time_added}}</p>
      {% endfor %}
    </div>
  </body>
</html>
