<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Disappearing Ninja</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ninja.css') }}">
  </head>
  <body>
    <h1 id='index-h1'>No Ninja's Here!</h1>
    <form class="find" action="/find_ninja" method="post">
      <input id="find-ninja" type="submit" name="submit" value="Find Them!">
    </form>
  </body>
</html>
