<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="wrapper-login">
      <div class="error-messages">
        {% with messages = get_flashed_messages()%}
          {% if messages %}
            {% for message in messages %}
            <p class='{{ coloration }}'>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <header>
        <h5>Login</h5>
        <form class="login" action="/login" method="post">
          <ul>
            <li><label for="email">Email: <input type="email" name="email" placeholder="name@example.net"></label></li>
            <li><label for="password">Password: <input type="password" name="password" placeholder="password"></label></li>
            <li><input type="submit" name="submit" value="Login"></li>
          </ul>
        </form>
      </header>


      <h4>New Here? Create a New Account</h4>
      <form class="create" action="/create_user" method="post">
        <label for="first_name">First Name: <input type="text" name="first_name" placeholder="First Name"></label>
        <label for="last_name">Last Name: <input type="text" name="last_name" placeholder="Last Name"></label>
        <label for="email">Email: <input type="email" name="email" placeholder="Email"></label>
        <label for="password">Password: <input type="password" name="password" placeholder="Password"></label>
        <label for="password_confirm">Confirm Password: <input type="password" name="password_confirm" placeholder="Confirm Password"></label>
        <input type="submit" name="sign_up" value="Create Account">
      </form>
    </div>
  </body>
</html>
