*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(49, 46, 56);
  padding: 30px;
}
#index-h1{
  color: white;
  text-align: center;
  margin: 30px 0;
}
#find-ninja{
  margin-left: 550px;
  margin-top: 50px;
  color: white;
}
.all-ninjas{
  width: 250px;
  height: 250px;
  padding: 5px;
  margin: 50px 10px;
  border: 3px solid darkgray;
}
#tmnt{
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.select-ninja{
  color: white;
  display: inline-block;
  margin-left: 50px;
}
label{
  margin-bottom: 10px;
}
#pick-color{
  padding-bottom: 10px;
  width: 200px;
}
#submit-color{
  color: white;
}
h1#exception{
  color: white;
  margin-left: 250px;
  padding-bottom: 20px;
}
img#april{
  margin-left: 250px;
  border: solid 3px darkgrey;
}
h1.turtle {
  color: white;
  text-align: center;
  margin: 30px 0;
}
img.img-turtle{
  margin-left: 200px;;
}
