<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <h4> {{ request.session.user_name }}</h4>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% ur 'books:homepage' %}">Home</a></li>
          <li><a href="{% url 'books:logout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>
    {{ book_reviews }}
    <h3>book_reviews.book.title</h3>
    <p>book_reviews.author.author_name</p>

    <div class="reviews-side">
      <h3>Reviews: </h3>
      {% for review in book_reviews%}
        <p>{{ review.rating }}</p>
        <p>{{ review.user.user_name }}</p> <p>{{ review.comments }}</p>
        <p>{{ review.review_at }}</p>
        {% if review.user.user_name == request.session['user_name'] %}
          <a href="{% url 'books:delete_review' %}"></a>
        {% endif %}
      {% endfor %}
      <br>
    </div>

    <form class="add_review" action="{% url 'books:new_review' 'b_id' %}" method="post">
      <input type="hidden" name="add" value="new_review">
      <input type="hidden" name="book_id" value="{{ book_reviews.id }}">
      <label for="textarea1">Add a Review:</label>
      <textarea id="textarea1" class="add_review"></textarea>
      <select class="rating" name="rating">
        <option  value="" disabled selected>Choose your option</option>
        <option  value="1">1</option>
        <option  value="2">2</option>
        <option  value="3">3</option>
        <option  value="4">4</option>
        <option  value="5">5</option>
      </select>
      <input type="submit" name="submit" value="Submit Review">
    </form>

  </body>
</html>
