<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style media="screen">
      h4,
      ul,
      li{
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <nav>
        <h4> {{ request.session.user_name }}</h4>
        <ul>
          <li><a class="button" href="{% url 'books:homepage' %}">Home</a></li>
          <li><a class="button button-primary" href="{% url 'books:logout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="errors">
      {% if messages %}
        {% for message in messages %}
          <p class="error_red">{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>

    {{ book_reviews }}
    <h3>{{book.title}}</h3>
    <h5>{{book.author.author_name}}</h5>
    <p>{{ book.id }}</p>

    <div class="reviews-side">
      <h3>Reviews: </h3><hr>
      {% for review in book_reviews%}
        <p>Review: {{ review.rating }} out of 5!</p><br>
        <a href="{% url 'books:user_info' u_id %}">{{ review.user.user_name }}</a>
        <p>{{ review.book.title }}</p>
        <p>{{ review.comments }}</p><br>
        <p>{{ review.created_at }}</p>
        {% if review.user.user_name == user_name %}
          <a href="{% url 'books:delete_review' %}"></a>
        {% endif %}
      {% endfor %}
      <br>
      <hr>
    </div>

    <form class="add_review" action="{% url 'books:new_review' b_id %}" method="post">
      {% csrf_token %}
      <!-- <input type="hidden" name="b_id" value="{{ book.id }}"> -->
      <label for="textarea1">Add a Review:</label>
      <textarea id="textarea1" name="comments" class="add_review"></textarea>
      <select name="rating">
        <option value="0" disabled selected>Choose your option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" name="submit" value="Submit Review">
    </form>

  </body>
</html>
