<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style media="screen">
      h4,
      ul,
      li{
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <nav>
        <ul>
          <li><a class="button" href="{% url 'books:homepage' %}">Home</a></li>
          <li class='nav-button'><a class='button' href="{% url 'books:new_book' %}">Add Book and Review</a></li>
          <li><a class="button button-primary" href="{% url 'books:logout' %}">Logout</a></li>
        </ul>
    </nav>

    <h4>User Alias: {{ request.session.user_name }}</h4>
    <h5>Name: {{ user.first_name }} {{ user.last_name }}</h5>
    <h5>Email: {{ user.email }}</h5>
    <h5>Total Reviews: {{ total_reviews }}</h5>

    <h4>Posted Reviews on the Following Books: </h4>
    {% for a_book in book %}
      <h6><a href="{% url 'books:show_book' a_book.id %}">{{ a_book.title }}</a></h6>
    {% endfor %}
  </body>
</html>
