<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Friend by ID</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <h2>Friend Info</h2>
    <!-- {{ one_friend }} -->
    {% for list_item in one_friend %}
      <p>{{ list_item['id'] }}</p>
      <p>{{ list_item['first_name'] }}</p>
      <p>{{ list_item['last_name'] }}</p>
      <p>{{ list_item['email'] }}</p>
   {% endfor %}
    {% with messages = get_flashed_messages()%}
      {% if messages %}
      <div class="{{ session['color'] }}">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    <form class="edit" action="/friends/{{ one_friend[0]['id'] }}" method="post">
      <label for="first_name">First Name: <input type="text" name="first_name" placeholder="first name"></label>
      <label for="last_name">Last Name: <input type="text" name="last_name" placeholder="last name"></label>
      <label for="email">Email: <input type="email" name="email" placeholder="fullname@example.net"></label>
      <input type="submit" name="submit" value="Add Friend">
    </form>
  </body>
</html>
