<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <form class="location-survey" action="/post" method="post">
      Your Name: <input id='full_name' type="text" name="name" placeholder="Full Name"><br>
      Dojo Location: <select id="dojos" name="locations">
          <option value="chicago">Chicago, IL</option>
          <option value="silicon-valley">Silicon Valley, CA</option>
          <option value="seattle">Seattle, WA</option>
          <option value="la">Los Angeles, CA</option>
          <option value="dc">Washington, DC</option>
          <option value="berkley">Berkley, CA</option>
          <option value="orange-ca">Orange County, CA</option>
        </select><br><br>
      Favorite Language: <select id="lang" name="language">
          <option value="python">Python</option>
          <option value="js">JavaScript</option>
          <option value="ruby">Ruby</option>
          <option value="c">C# / C++</option>
          <option value="java">Java</option>
      </select><br><br>
      Comment (optional):<br><br>
      <textarea name="message" rows="10" cols="50"></textarea><br>
      <input type="submit" name="go-back" value="Submit">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor%}
        {% endif %}
      {% endwith %}
    </form>
  </body>
</html>
