<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation with DB</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Please Entere an Email to Add to the List</h1>
      {% with messages = get_flashed_messages()%}
        {% if messages %}
        <div class="error" id='msg-box'>
          {% for message in messages %}
            <p class='msg'>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
    <form action="/post" method="post">
      <label for="email">Email: <input type="email" name="email" placeholder="name@example.com"></label>
      <input type="submit" name="submit" value="Enter">
    </form>
  </body>
</html>
